<% return unless user_signed_in? %>
<!-- Following Menu -->
<div class="ui fixed borderless huge menu">

  <div class="ui container grid">
    <div class="computer only row">
      <a class="header item"><%= t("app_name") %></a>
      <%= link_to "<i class='home icon'></i> #{t("menu.home")}".html_safe, root_path, class: "item #{set_active_class(:root)}" %>
      <%= link_to "<i class='info icon'></i> #{t("menu.docs")}".html_safe, docs_path, class: "item #{set_active_class(:docs)}" %>

      <div class="right menu">
        <%= link_to "<i class='plus icon'></i> #{t("menu.new_note")}".html_safe, new_note_path, class: "ui light-turquoise large button item" %>
        <div class="ui dropdown item"><%= current_user.name %><i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">
              <%= link_to "<i class='logout icon'></i> #{t("menu.logout")}".html_safe, destroy_session_path %>
            </div>
            </div>
        </div>

      </div>
    </div>

    <div class="tablet mobile only row">
      <a class="header item"> <%= t("app_name") %></a>
      <div class="right menu">
        <%= link_to "<i class='plus icon'></i> #{t("menu.new_note")}".html_safe, new_note_path, class: "menu light-turquoise large button item" %>
        <a class="menu item">
          <div class="ui basic icon toggle button">
            <i class="content icon"></i>
          </div>
        </a>
      </div>
      <div class="ui vertical accordion borderless fluid menu">
        <%= link_to "<i class='home icon'></i> #{t("menu.home")}".html_safe, root_path, class: "item #{set_active_class(:root)}" %>
        <%= link_to "<i class='info icon'></i> #{t("menu.docs")}".html_safe, docs_path, class: "item #{set_active_class(:docs)}" %>
        <%= link_to "<i class='logout icon'></i> #{t("menu.logout")}".html_safe, destroy_session_path, class: "item" %>
      </div>
    </div>
  </div>
</div>
