<!DOCTYPE html>
<html>
  <head>
    <title>Notes App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= content_tag :div, class: 'ui vertical stripe segment' do %>
      <%= yield %>
      <%= render "shared/flash" %>
    <% end %>
    <%= render "shared/footer" %>
  </body>
</html>
