<!DOCTYPE html>
<html>
  <head>
    <title>SharpSpring + Perfect Audience | Notes App</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= render "shared/header" %>
    <%= content_tag :div, class: 'ui vertical stripe segment' do %>
      <% if user_signed_in? %>
        <div class="ui text container flash">
          <%= render "shared/flash" %>
        </div>
      <% end %>
      <%= yield %>
    <% end %>
    <%= render "shared/footer" %>
  </body>
</html>
